UnitTest/Connected Services/DataProviderService/mex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CFAPService.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CFAPService.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CFAPService/mex?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/CFAPService/mex?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CFAPDataModel.Models" />
  <xs:complexType name="DbException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbException" nillable="true" type="tns:DbException" />
  <xs:complexType name="AuthenticateFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticateFaultException" nillable="true" type="tns:AuthenticateFaultException" />
  <xs:complexType name="NoRightsToChangeUserDataException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoRightsToChangeUserDataException" nillable="true" type="tns:NoRightsToChangeUserDataException" />
  <xs:complexType name="DataNotValidException">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ValidationErrors" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataNotValidException" nillable="true" type="tns:DataNotValidException" />
  <xs:complexType name="UserHasNotGroupsException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CFAPDataModel.Models" minOccurs="0" name="User" nillable="true" type="q2:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserHasNotGroupsException" nillable="true" type="tns:UserHasNotGroupsException" />
  <xs:complexType name="TryChangeReadOnlyFiledException">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldId" type="xs:int" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TryChangeReadOnlyFiledException" nillable="true" type="tns:TryChangeReadOnlyFiledException" />
  <xs:complexType name="ConcurrencyExceptionOfSummarydxjYbbDT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ConcurrencyExceptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/CFAPService.Faults" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Summary" Namespace="http://schemas.datacontract.org/2004/07/CFAPDataModel.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CFAPDataModel.Models" minOccurs="0" name="CurrentValue" nillable="true" type="q3:Summary" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CFAPDataModel.Models" minOccurs="0" name="DatabaseValue" nillable="true" type="q4:Summary" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConcurrencyExceptionOfSummarydxjYbbDT" nillable="true" type="tns:ConcurrencyExceptionOfSummarydxjYbbDT" />
</xs:schema>