UnitTest/Connected Services/DataProviderService/mex7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CFAPService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CFAPService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CFAPService/mex?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Transport">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Collection" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="Single" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transport" nillable="true" type="tns:Transport" />
</xs:schema>