CFAP/Connected Services/DataProviderService/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CFAPService.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CFAPService.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CFAPService/mex?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AutenticateFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutenticateFaultException" nillable="true" type="tns:AutenticateFaultException" />
  <xs:complexType name="DbException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbException" nillable="true" type="tns:DbException" />
  <xs:complexType name="AddUserNotAdminException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddUserNotAdminException" nillable="true" type="tns:AddUserNotAdminException" />
  <xs:complexType name="DataNotValidException">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ValidationErrors" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataNotValidException" nillable="true" type="tns:DataNotValidException" />
  <xs:complexType name="TryChangeReadOnlyFiledException">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldId" type="xs:int" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TryChangeReadOnlyFiledException" nillable="true" type="tns:TryChangeReadOnlyFiledException" />
</xs:schema>